@import "table", "buttons";

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  width: 40vw;
  border-radius: 0.3vw;
  background: linear-gradient(
    to bottom,
    #f1f4f7 15vh,
    gainsboro 15vh,
    gainsboro 15.3vh,
    #fff 15.3vh
  );

  .user-image {
    width: 7vw;
    border-radius: 5vw;
    margin-top: 5vh;
    border: 0.2vw solid #fff;
    outline-offset: 0.2vw;
  }

  .user-data {
    height: 6vh;
    margin-top: 3vh;

    h1 {
      font-size: medium;
      font-weight: 600;
    }
  }

  .icons {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: pointer;

    img {
      box-shadow: 0 0 1vw .1vw #f1f4f7;
      width: 2vw;
      margin: auto;
      border: 0.3vw solid #f1f4f7;
      border-radius: 2vw;
    }
  }
}
