* {
  margin: 0;
  padding: 0;
  color: black;
}

table {
  display: none;
}

table thead th {
  font-size: medium;
  font-weight: 500;
  color: #9d4d8c;
  background-color: #fec861;
  padding: .5vh 1vw;
}

table thead .name-col {
  padding: .5vh 3vw;
}

table thead .email-col {
  padding: .5vh 6vw;
}

table thead .phone-col {
  padding: .5vh 3vw;
}

table tbody {
  font-size: smaller;
}

table tbody td {
  padding: 1vh 0;
}

.buttons {
  margin: 6vh auto 3vh;
}

.buttons button {
  background-color: #9d4d8c;
  border: none;
  outline: none;
  color: #fff;
  border-radius: .3vw;
  padding: 0.5vw 2vw;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.buttons button:hover {
  background-color: #fec861;
  cursor: pointer;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  width: 40vw;
  border-radius: 0.3vw;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15vh, #f1f4f7), color-stop(15vh, gainsboro), color-stop(15.3vh, gainsboro), color-stop(15.3vh, #fff));
  background: linear-gradient(to bottom, #f1f4f7 15vh, gainsboro 15vh, gainsboro 15.3vh, #fff 15.3vh);
}

.user-info .user-image {
  width: 7vw;
  border-radius: 5vw;
  margin-top: 5vh;
  border: 0.2vw solid #fff;
  outline-offset: 0.2vw;
}

.user-info .user-data {
  height: 6vh;
  margin-top: 3vh;
}

.user-info .user-data h1 {
  font-size: medium;
  font-weight: 600;
}

.user-info .icons, .user-info .buttons {
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
}

.user-info .icons img, .user-info .buttons img {
  -webkit-box-shadow: 0 0 1vw .1vw #f1f4f7;
          box-shadow: 0 0 1vw .1vw #f1f4f7;
  width: 2vw;
  margin: auto;
  border: 0.3vw solid #f1f4f7;
  border-radius: 2vw;
}

.App {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40vh, #fec861), color-stop(40vh, #f1f4f7));
  background: linear-gradient(to bottom, #fec861 40vh, #f1f4f7 40vh);
}

.cw-logo {
  width: 5vw;
  margin-top: 5vh;
  border: none;
}
/*# sourceMappingURL=App.css.map */